

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
    margin: 0%;
    font-family: "ubuntu";
}

/* Cabeçalho */

header {
    background-color: #2E948A;
    display: flex;
    width: 100%;
}
    
header section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    padding: 2% 4%;
}

.container-logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-left: 80px;
}

.texto-logo {
    color: white;
    font-size: 55px;
    margin: 0%;
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}

.cabecalho-menu {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.menu {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 3% 4%;
}

@media (max-width: 600px) {
    header {
        width: 100%;
        height: 150px;
        transition: 4s;
    }

    header section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .container-logo {
        margin: 0%;
    }
}



/* Corpo do site */

main section{
    margin: 2% 4%;
}

.parte-1 {
    display: flex;
    justify-content: center;
}

.titulo-1 {
    color: #FF4081;
    font-size: 50px;
    font-weight: bold;
    margin: 0%;
    text-align: center;
}

.banner {
    margin-top: 30px;
    width: 100%;
}

.data {
    color: #9D9D9D;
    font-size: 17px;
    margin: 0%;
    display: flex;
    justify-content: center;
}

.parte-1 h2 {
    color: #009688;
}

.parte-1 p {
    font-size: 18px;
}

main article {
    background-color: #F6F6F6 ;
    width: 100%;
    margin-top: 40px;
}

.parte-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.titulo-2 h1 {
    color: #FF4081;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding: 2%;
    margin: 0%;
}

.curso-home {
    display: flex;
    flex-direction: column;
    padding: 2% 4%;
    align-items: center;
    text-align: center;
}

.curso-home h2 {
    color: #FF4081;
    font-size: 20px;
    font-weight: bold;
}

.curso-home p{
    font-size: 17px;
}

.botao-2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF4081;
    border-radius: 50px;
    width: 230px;
    height: 50px;
}

.botao-2 a {
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    color: white;
}

/* .curso-home button {
    background-color: #FF4081;
    color: white;
    font-size: 20px;
    border-radius: 60px;
    width: 230px;
    height: 50px;
    border: 0ch;
} */

.curso-home img {
    width: 275px;
    height: 270px;
    margin-top: 40px;
}


@media (max-width: 480px) {
    .banner {
        display: none;
        transition: 3s;
    }

    .titulo-1 {
        font-size: 35px;
        text-align: center;
    }

    .titulo-2 h1 {
    font-size: 35px;
    }

    .curso-home img {
    width: 60%;
    height: 50%;
    }
}

/* Rodapé */

footer {
    background-color: #2E948A;
    width: 100%;
    padding: 1% 2%;
}

.rodape-logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 3% 5%;
}

.rodape-img {
    display: flex;
}   

.imagem-rodape {
    text-align: left;
    margin-right: 5%;
}

.rodape-texto h1 {
    color: white;
    font-size: 55px;
    margin: 0%;
}

.rodape-texto p {
    color: white;
    margin: 0%;
}

.rodape-menu {
    display: flex;
    flex-direction: column;
}

.menu-rodape {
    text-decoration: none;
    color: white;
    padding: 5px;
}

footer section article {
    display: flex;
    flex-direction: column;
    padding: 3% 5%;
}

.botao {
    background-color: #2E948A;
    border-radius: 60px;
    border: 2px solid white;
    width: 180px;
    height: 40px;
    color: white;
}

@media (max-width: 700px) {
    footer {
        width: 100%;
        height: 30%;
    }

    footer section {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .rodape-menu {
        margin-top: 5%;
    }

    .borda-rodape {
        margin-top: 5%;
    }
}